html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

.main-view {
	display: inline-block;
	width: calc(100% - 400px);
	height: 100%;
	background-color: #ccc;
}
.controls-view {
	display: inline-block;
	width: 400px;
	height: 100%;
	background-color: #0f0;
}